RealService2/App_WebReferences/RealServiceWCF/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RealLicenseLibraryWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RealLicenseLibraryWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RealLicenseWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expiry" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenseNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RealLicenseWCF" nillable="true" type="tns:RealLicenseWCF" />
</xs:schema>