RealService2/App_WebReferences/RealAsmx/realservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuthenticateLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:RealLicenseWCF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RealLicenseWCF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LicenseNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiry" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthenticateLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateLicenseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateLicense" />
  </wsdl:message>
  <wsdl:message name="AuthenticateLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateLicenseResponse" />
  </wsdl:message>
  <wsdl:portType name="RealAsmxSoap">
    <wsdl:operation name="AuthenticateLicense">
      <wsdl:input message="tns:AuthenticateLicenseSoapIn" />
      <wsdl:output message="tns:AuthenticateLicenseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RealAsmxSoap" type="tns:RealAsmxSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateLicense">
      <soap:operation soapAction="http://tempuri.org/AuthenticateLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RealAsmxSoap12" type="tns:RealAsmxSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateLicense">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RealAsmx">
    <wsdl:port name="RealAsmxSoap" binding="tns:RealAsmxSoap">
      <soap:address location="http://realasmx.jksoftwaresolutionsjm.info/realasmx/realservice.asmx" />
    </wsdl:port>
    <wsdl:port name="RealAsmxSoap12" binding="tns:RealAsmxSoap12">
      <soap12:address location="http://realasmx.jksoftwaresolutionsjm.info/realasmx/realservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>